<div id="hot">
    <div class="title">
        &nbsp;
        <i class="glyphicon glyphicon-fire"></i>
        &nbsp;
        <span>热门推荐</span>
    </div>
    <div class="movie">
        <div class="movieList"><a href="javascript:;">
            <div>
                <div class="poster">
                        <img src="../public/images/movie1.jpg" alt="">
                </div>
                <div class="movieName">
                    <span>双重身份</span>
                    <div>
                        <span class="glyphicon glyphicon-star"></span>
                        <span>8.7</span>
                    </div>
                </div>
                <div class="introduce">
                    <span>
                        《摔跤吧！爸爸》是由尼特什·提瓦瑞执导、阿米尔·汗、萨卡诗·泰瓦、桑亚·玛荷塔、法缇玛·萨那·纱卡领衔主演的印度电影。
                    </span>
                </div>
                <div class="more">
                    <span class="iconfont icon-sangedian"></span>
                </div>
            </div>
            
        </a></div>
        <div class="movieList"><a href="javascript:;">
            <div>
                <div class="poster">
                        <img src="../public/images/movie1.jpg" alt="">
                </div>
                <div class="movieName">
                    <span>双重身份</span>
                    <div>
                        <span class="glyphicon glyphicon-star"></span>
                        <span>8.7</span>
                    </div>
                </div>
                <div class="introduce">
                    《摔跤吧！爸爸》是由尼特什·提瓦瑞执导、阿米尔·汗、萨卡诗·泰瓦、桑亚·玛荷塔、法缇玛·萨那·纱卡领衔主演的印度电影。
                </div>
                <div class="more">
                    <span class="iconfont icon-sangedian"></span>
                </div>
            </div>
            
        </a></div>
        <div class="movieList"><a href="javascript:;">
            <div>
                <div class="poster">
                        <img src="../public/images/movie1.jpg" alt="">
                </div>
                <div class="movieName">
                    <span>双重身份</span>
                    <div>
                        <span class="glyphicon glyphicon-star"></span>
                        <span>8.7</span>
                    </div>
                </div>
                <div class="introduce">
                    <span>
                        《摔跤吧！爸爸》是由尼特什·提瓦瑞执导、阿米尔·汗、萨卡诗·泰瓦、桑亚·玛荷塔、法缇玛·萨那·纱卡领衔主演的印度电影。
                    </span>
                </div>
                <div class="more">
                    <span class="iconfont icon-sangedian"></span>
                </div>
            </div>
            
        </a></div>
    </div>
</div>