<div id="navigation">
    <ul>
        <li><a href=""><i class="iconfont icon-dianyingpiao_line"></i><br/>最新电影</a></li>
        <li><a href=""><i class="iconfont icon-iMoviedianying"></i><br/>最热电影</a></li>
        <li><a href=""><i class="iconfont icon-dianyingshipin"></i><br/>名人电影</a></li>
        <li><a href=""><i class="iconfont icon-dianying2"></i><br/>喜剧电影</a></li>
        <li><a href=""><i class="iconfont icon-weibiaoti2"></i><br/>悲剧电影</a></li>
        <li><a href=""><i class="iconfont icon-dianying1"></i><br/>科幻电影</a></li>
        <li><a href=""><i class="iconfont icon-dianyingpiao"></i><br/>言情电影</a></li>
        <li><a href=""><i class="iconfont icon-swticondianying"></i><br/>战争电影</a></li>
        <li><a href=""><i class="iconfont icon-dianyingfilm58"></i><br/>经典电影</a></li>
        <li><a href=""><i class="iconfont icon-dianying"></i><br/>武侠电影</a></li>
    </ul>
</div>