<div id="recommend">
    <div class="title">
        &nbsp;
        <i class="glyphicon glyphicon-thumbs-up"></i>
        &nbsp;
        <span>强烈推荐</span>
    </div>
    <div id="movieSlider" class="movieSlider">
        <div class="movie">
            <div><a href="javascript:;"><img src="../public/images/movie1.jpg" alt=""><span class="score">8.7</span><span class="movieName">双重身份</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie2.jpg" alt=""><span class="score">7.7</span><span class="movieName">美国队长2</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie3.jpg" alt=""><span class="score">6.3</span><span class="movieName">窃听风云</span></a></div>
        </div>
        <div class="movie">
            <div><a href="javascript:;"><img src="../public/images/movie4.jpg" alt=""><span class="score">7.0</span><span class="movieName">S.E.A</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie5.jpg" alt=""><span class="score">8.3</span><span class="movieName">花样年华</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie6.jpg" alt=""><span class="score">7.5</span><span class="movieName">心花路放</span></a></div>
        </div>
        <div class="movie">
            <div><a href="javascript:;"><img src="../public/images/movie7.jpg" alt=""><span class="score">9.3</span><span class="movieName">速度与激情7</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie8.jpg" alt=""><span class="score">8.0</span><span class="movieName">不惧风暴</span></a></div>
            <div><a href="javascript:;"><img src="../public/images/movie9.jpg" alt=""><span class="score">5.6</span><span class="movieName">火锅英雄</span></a></div>
        </div>
    </div>
</div>